<div class="mt-4">
  <div  class="border-bottom border-purple">
    <div class="mb-3">
      <h2 class="mb-2"><strong>Resumo Profissional</strong></h2>
      <div class="col-sm-12 mb-2">
        Trabalho a 9 meses como desenvolvedor, utilizando as seguintes ferramentas:
        <p>
        Angular, TypeScript, JavaScript, .Net, C#, Figma, Git, SQL Server, Bootstrap, Angular Material, PrimeNG, HTML e CSS.
        <div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <h2 class="mb-2"><strong>Formação</strong></h2>
      <div class="col-sm-12 mb-2">
        <strong>Graduação</strong>
        <p>
        Ciência da computação, UERJ - UNIVERSIDADE DO ESTADO DO RIO DE JANEIRO
        (Fevereiro de 2019) - Cursando
        <p>
      </div>
      <div class="col-sm-12 mb-2">
        <strong>Cursos Complementares</strong>
      <p>
        Desenvolvimento Web Completo, Udemy
        (Janeiro de 2022) - Concluído
      <p>
        Curso React.js Ninja: Módulo React + Webpack, Udemy
        (Junho de 2019) - Concluído
      <p>
        JavaScript e jQuery para Iniciantes, Udemy
        (Junho de 2019) - Concluído
      <p>
      </div>
      <div class="col-sm-12 mb-2">
        <strong>Idioma</strong>
        <p>
          Inglês: Intermediário
      </div>
    </div>
    <div class="col-sm-12 mb-3">
      <h2 class="mb-2"><strong>Informações Complementares</strong></h2>
      <div>
        Domínio das ferramentas de web design: Figma, Adobe XD;
        <p>
        <p>
        Domínio de C#, JavaScript e TypeScript;
        <p>
        Conhecimentos em Angular, .Net, React e Python;
        <p>
        Noções de banco de dados Oracle, Postgresql e SQL.
      </div>
    </div>
    <div class="mb-3">
      <h2 class="mb-2"><strong>Histórico Profissional</strong></h2>
      <div class="col-sm-12 mb-2">
        <strong>Desenvolvedor de aplicativos webDesenvolvedor de aplicativos web</strong>
        <p>
        EstágioEstágio
        <p>
        janeiro de 2022 - ago de 2022 · 8 meses
        <p>
        <strong>Competências:</strong> SQL · Banco de dados Oracle · Angular (Framework) · TypeScript · Adobe XD · Figma (Software) · Programação
        (computação) · Aplicativos web · Git · GitHub
      </div>
      <div class="col-sm-12 mb-5">
        <strong>Desenvolvedor de Software JR</strong>
        <p>
          Tempo integral
        <p>
          agosto de 2022 - o momento ·
        <p>
          <strong>Competências:</strong> Git BASH · Angular Material · Oracle SQL Developer · Microsoft SQL Server · CSS · Bootstrap · Angular (Framework) ·
          TypeScript · Git · JavaScript · .NET Framework · C#
      </div>
    </div>
  </div>
</div>
